{%- for conf in ["puid", "pgid", "tz"] %}
{%-   if calibre_web.container[conf] is not none %}
{{ conf | upper }}={{ calibre_web.container[conf] }}
{%-   endif %}
{%- endfor %}
{%- if calibre_web.container.include_calibre %}
DOCKER_MODS=linuxserver/mods:universal-calibre
{%- endif %}
{%- if calibre_web.container.google_oauth %}
OAUTHLIB_RELAX_TOKEN_SCOPE=1
{%- endif %}
