{%- set is_netfs = {} %}
{%- for path in ["data", "books"] %}
{%-   do is_netfs.update({
        path: salt["cmd.run_stdout"](
          "df -P '{data}' | ".format(data=calibre_web.lookup.paths[path]) ~
          "awk 'BEGIN {e=1} $NF ~ /^\/.+/ { e=0 ; print $1 ; exit } END { exit e }'",
          python_shell=true,
        )
      })
-%}
{%- endfor -%}

---
version: "2.1"
services:
  app:
    image: {{ calibre_web.lookup.containers.calibre_web.image }}
    container_name: calibre-web
    env_file:
      - calibre_web.env
    volumes:
      - {{ calibre_web.lookup.paths.data }}:/config{%- if not is_netfs.data %}:z{%- endif %}
      - {{ calibre_web.lookup.paths.books }}:/books{%- if not is_netfs.books %}:z{%- endif %}
    ports:
      - {{ calibre_web.container.host_port }}:8083
{%- if calibre_web.install.autoupdate %}
    labels:
      - io.containers.autoupdate=registry
{%- endif %}
    restart: unless-stopped
